# Map old emails to GitHub account
Alexandre Lagasse <91629063+alexandrelagasse@users.noreply.github.com> lagas <alexandre.lagasse@epitech.eu.>
Alexandre Lagasse <91629063+alexandrelagasse@users.noreply.github.com> <alexandre.lagasse@epitech.eu>
